@import '../../../../styles/common.scss';
@import '../../../../styles/reset.scss';
@import '../../../../styles/variables.scss';
@import '../MainGayun.scss';

.story {
  display: flex;
  margin-bottom: var(--container-padding);
  padding: var(--container-padding);
  overflow-x: scroll;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: var(--item-padding);
    font-size: 0.8rem;

    .img-container {
      @include profileContainer;
      margin-left: var(--item-padding);
      width: $imgContainerL;
      height: $imgContainerL;
      margin-bottom: var(--item-padding);

      img {
        @include profileImg;
      }
    }
  }
}
