:root {
  --container-padding: 1rem;
  --item-padding: 0.5rem;

  --shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.23);

  --profile-img-container-XL: 4rem;
  --profile-img-container-L: 3rem;
  --profile-img-container-M: 2rem;
  --profile-img-container-S: 1rem;
  --profile-img-size: 90%;
  --profile-border: 0.2rem;
  --profile-img-border-radius: 3rem;
  --profile-img-gradient: linear-gradient(
    39deg,
    rgba(254, 218, 117, 1) 0%,
    rgba(250, 126, 30, 1) 22%,
    rgba(214, 41, 118, 1) 44%,
    rgba(150, 47, 191, 1) 72%,
    rgba(79, 91, 213, 1) 100%
  );
}

.story {
  display: flex;
  margin-bottom: var(--container-padding);
  padding: var(--container-padding);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: var(--item-padding);
    font-size: 0.8rem;

    .img-container {
      margin-left: var(--item-padding);
      width: var(--profile-img-container-XL);
      height: var(--profile-img-container-XL);
      margin-bottom: var(--item-padding);

      img {
        width: var(--profile-img-size);
        height: var(--profile-img-size);
      }
    }
  }

  .profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: var(--profile-img-border-radius);
    background: var(--profile-img-gradient);
  }

  .profile_img {
    width: var(--profile-img-size);
    height: var(--profile-img-size);
    border: var(--profile-border) solid var(--white);
    border-radius: var(--profile-img-border-radius);
  }
}
