@use 'src/styles/common';
@use 'src/styles/reset';
@use 'src/styles/variables';

.profileBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: white;

  .profileAccount {
    display: flex;
    align-items: center;
    width: 50%;
    // height: 100%;
    background-color: white;

    .profileImage {
      height: 50px;
      margin-right: 10px;
      border: 0.5px solid variables.$border-color;
      border-radius: 50%;
    }
  }
  .fa-ellipsis-h {
    color: #262626;
  }
}
