.feed {
  width: 30rem;
  margin-bottom: 3rem;
  border: 1px solid var(--border-grey);
  background-color: var(--white);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--item-padding) 0.8rem var(--item-padding) 0.8rem;
    border-bottom: 1px solid var(--border-grey);

    .uploader {
      display: flex;
      align-items: center;
    }

    .img-container {
      img {
        width: 3rem;
      }
    }

    .id {
      margin-left: 1rem;
    }
  }

  .img-content {
    height: 30rem;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .contents-wrap {
    padding: var(--item-padding) var(--container-padding) var(--item-padding)
      var(--container-padding);

    .button-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: var(--item-padding);

      .button > i {
        margin-right: var(--item-padding);
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }

  .people-who-like {
    display: flex;
    align-items: center;
    margin: var(--item-padding) 0 var(--container-padding) 0;

    img {
      width: var(--profile-img-container-S);
      height: var(--profile-img-container-S);
      border-radius: var(--profile-img-border-radius);
    }

    .text {
      margin-left: var(--item-padding);
      font-size: 0.9rem;
    }
  }

  .more-text {
    color: var(--border-grey-darker);
    font-weight: 700;
    cursor: pointer;
  }

  .comments {
    margin-top: var(--container-padding);
    list-style: none;

    .comment-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.3rem;
      font-size: 0.8rem;

      .comment {
        display: flex;
        flex-basis: 90%;
        margin-right: var(--item-padding);

        .id {
          margin-right: var(--item-padding);
          margin-right: 1rem;
          font-weight: 800;
        }
      }

      .delete {
        display: flex;
        flex-basis: 10%;
        justify-content: flex-end;
        color: var(--light-blue);
        cursor: pointer;
      }

      .delete:hover {
        color: var(--blue);
      }
    }
  }

  .comment-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding-left: var(--container-padding);
    border-top: 1px solid var(--border-grey);

    .text {
      flex-basis: 80%;
      height: 100%;
      border: none;
      outline: none;
    }
  }
}

.profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: var(--profile-img-border-radius);
  background: var(--profile-img-gradient);
}

.profile_img {
  width: var(--profile-img-size);
  height: var(--profile-img-size);
  border: var(--profile-border) solid var(--white);
  border-radius: var(--profile-img-border-radius);
}
