@import '../../../../styles/variables.scss';
@import '../MainGayun.scss';

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid var(--border-grey);
  background-color: var(--white);

  .logo {
    display: flex;
    align-items: center;

    .icon,
    .text {
      padding: 0 1em 0 1em;
      height: 1em;
    }

    .text {
      border-left: 1px solid black;
    }
  }

  .nav__buttons {
    display: flex;
    justify-content: center;
  }

  .nav__buttons > button {
    width: 10%;
    height: 10%;
    padding: 0;
    margin: 0 7px 0 7px;
  }

  .nav__buttons > button > img {
    width: 100%;
  }

  .search {
    input {
      width: 100%;
      height: 1.5rem;
      border: 1px solid $border-color;
      border-radius: 3.5px;
      outline: none;
      background-color: $plain-bgColor;
    }

    input::placeholder {
      color: var(--border-grey);
    }

    .box {
      position: absolute;
      top: -4%;
      left: 45%;
      width: 1.5rem;
      height: 1.5rem;
      background-color: var(--white);
      border-top: 1px solid var(--border-grey);
      border-left: 1px solid var(--border-grey);
      transform: rotate(45deg);
      z-index: 2;
    }

    .result-container {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 8%;
      width: 20rem;
      height: 20rem;
      border: 1px solid var(--border-grey);
      background-color: var(--white);
      transform: translateX(-15%);
    }

    .result-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    .result-item {
      display: flex;
      align-items: center;
      padding: var(--container-padding);
      border-bottom: 1px solid var(--border-grey);

      img {
        margin-right: 0.5em;
        width: 2em;
        height: 2em;
        border-radius: 20px;
      }
    }
  }

  .button {
    img {
      width: 1rem;
      cursor: pointer;
    }
  }

  .my {
    position: absolute;
    top: 4rem;
    width: 15rem;
    padding: var(--container-padding);
    list-style: none;
    font-size: 0.8rem;
    background-color: var(--white);
    box-shadow: var(--shadow);

    .item {
      display: flex;
      align-items: center;
      margin-bottom: var(--item-padding);
    }

    .title {
      margin-left: 8px;
    }

    .logout {
      padding-top: 1em;
      border-top: 1px solid var(--border-grey);
    }
  }

  .hide {
    visibility: hidden;
  }
}
