.commentsAndButton {
  padding-left: 20px;
  padding-right: 20px;

  .commentList {
    line-height: 1.5;
    // font-size: 3rem;
    .comments {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      span:nth-child(1) {
        padding-right: 10px;
      }
      span:nth-child(2) {
        padding-left: 10px;
      }
    }
  }
}
