@use 'src/styles/common';
@use 'src/styles/reset';
@use 'src/styles/variables';

$navbar-height: 35px;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-bottom: 1.5px solid variables.$border-color;

  nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 15px 0px;
    background-color: white;

    img {
      height: $navbar-height;
    }
    #searchBlock {
      @include variables.flex-center;
      border: 1px solid variables.$border-color;
      border-radius: 5px;
      width: 20%;

      img {
        height: 1rem;
        opacity: 0.5;
      }
      input {
        height: $navbar-height;
        width: 40px;

        &:placeholder {
          color: variables.$sub-text-color;
        }
        &:focus {
          width: 60%;
        }
      }
    }
    #symbolBlock {
      @include variables.flex-center;
      width: 20%;

      .instagramLogo {
        font-size: 35px;
        font-family: 'Lobster', cursive;

        &:before {
          padding: 0 40px;
          content: '|';
        }
      }
    }
    #otherContents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 20%;
      padding: 0 80px;
    }
  }
}
