@import '../../../../styles/common.scss';
@import '../../../../styles/variables.scss';
@import '../MainGayun.scss';

.feeds {
  margin: $doubleSpace;
}

.feed-end {
  width: 100%;
  height: 10rem;
  background-color: beige;
}
